# Ignorar los módulos de Node
node_modules/

# Ignorar package-lock.json
package-lock.json

# Ignorar las variables de entorno
.env
develop.env

#ignora los files
Files

#base de datos
DB/data/

#ignorar servidor de desarrollo
serverless/